In [76]:
import pandas as pd 
import numpy as np

In [71]:
df = pd.read_csv('C:\\Rykw\movie_cast.csv',encoding='CP949')

In [72]:
df.head()

         영화명                           배우
0         명량    최민식 류승룡 조진웅 김명곤 진구 이정현 권율
1       극한직업   류승룡 이하늬 진선규 이동휘 공명 양현민 장진희
2  신과함께-죄와 벌  하정우 차태현 주지훈 김향기 마동석 김동욱 도경수
3       국제시장  황정민 김윤진 오달수 정진영 장영남 라미란 김슬기
4        베테랑  황정민 유아인 유해진 오달수 장윤주 김시후 오대환

In [68]:
df.배우

0               최민식 류승룡 조진웅 김명곤 진구 이정현 권율
1      [류승룡, 이하늬, 진선규, 이동휘, 공명, 양현민, 장진희]
2             하정우 차태현 주지훈 김향기 마동석 김동욱 도경수
3             황정민 김윤진 오달수 정진영 장영남 라미란 김슬기
4             황정민 유아인 유해진 오달수 장윤주 김시후 오대환
                      ...
495       장동건 나카무라 토오루 천호진 신구 조성철 박제현 서상우
496           예지원 최찬숙 지현우 김지영 김혜옥 김호준 안몽식
497           김상경 김성균 박성웅 윤승아 조재윤 김의성 기주봉
498            이미연 최지우 김주혁 유아인 강하늘 이솜 하석진
499                현빈 탕웨이 김서라 NA NA NA NA
Name: 배우, Length: 500, dtype: object

In [70]:
df.배우[1] = df.배우[1].split(' ')

In [73]:
for i in range(500) :
    i = int(i)
    df.배우[i] = df.배우[i].split(' ')

In [74]:
df.head()

         영화명                                   배우
0         명량    [최민식, 류승룡, 조진웅, 김명곤, 진구, 이정현, 권율]
1       극한직업   [류승룡, 이하늬, 진선규, 이동휘, 공명, 양현민, 장진희]
2  신과함께-죄와 벌  [하정우, 차태현, 주지훈, 김향기, 마동석, 김동욱, 도경수]
3       국제시장  [황정민, 김윤진, 오달수, 정진영, 장영남, 라미란, 김슬기]
4        베테랑  [황정민, 유아인, 유해진, 오달수, 장윤주, 김시후, 오대환]

In [75]:
df.배우

0             [최민식, 류승룡, 조진웅, 김명곤, 진구, 이정현, 권율]
1            [류승룡, 이하늬, 진선규, 이동휘, 공명, 양현민, 장진희]
2           [하정우, 차태현, 주지훈, 김향기, 마동석, 김동욱, 도경수]
3           [황정민, 김윤진, 오달수, 정진영, 장영남, 라미란, 김슬기]
4           [황정민, 유아인, 유해진, 오달수, 장윤주, 김시후, 오대환]
                         ...
495    [장동건, 나카무라, 토오루, 천호진, 신구, 조성철, 박제현, 서상우]
496         [예지원, 최찬숙, 지현우, 김지영, 김혜옥, 김호준, 안몽식]
497         [김상경, 김성균, 박성웅, 윤승아, 조재윤, 김의성, 기주봉]
498          [이미연, 최지우, 김주혁, 유아인, 강하늘, 이솜, 하석진]
499              [현빈, 탕웨이, 김서라, NA, NA, NA, NA]
Name: 배우, Length: 500, dtype: object